<div class="side-by-side">
	<div class="box">
		<h2>Create a New Room</h2>
		<button type="submit" class="button" (click)="createRoom()">
			Create
		</button>
	</div>

	<div class="box">
		<h2>Join an Existing Room</h2>
		<form [formGroup]="form">
			<div class="form-group">
				<label for="gameId">Game Id:</label>
				<input id="gameId" type="text" formControlName="gameId">
			</div>
			<div class="form-buttons">
				<button type="submit" [disabled]="form.invalid"> 
					Login 
				</button>
			</div>
		</form>
	</div>
</div>
