
.display {
	display: flex;
	flex-direction: row;
	margin-top: 5vh;
}

#game {
	margin-left: 10vw;
}

#player-list {
	margin-left: 5vw;
}

.center-it {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.left-0 {
	margin-left: .5vw;
}

code {
	color: red;
}

.player {
	font-size: 1.1em;
	font-family: monospace;
}

div > button  {
	margin-top: 5vh;
}
